
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a href="/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-outline-primary">Blog Listesini İndir</a>


