@* @using EntityLayer.Concrete pagedlist kullandığımız için Entity'yi IPagedList ile vericez*@
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@* @model List<Category>  pagedlist kullandığımız  için model böyle kullanılmayacak*@ 
@model IPagedList<EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2><strong>Kategoriler</strong></h2

<br /><br />
<table class="table ">
<tr> 
    <th>Kategori Adı</th>
    <th>Pasif Yap</th>
    <th>Aktif Yap</th>
    <th>Düzenle</th>

</tr>

@foreach(var item in Model)
{
    <tr>
        <td>@item.CategoryName</td>
        <td><a href="#" class="btn btn-outline-danger">Pasif Yap</a></td>
        <td><a href="#" class="btn btn-outline-success">Aktif Yap</a></td>
        <td><a href="#" class="btn btn-outline-warning">Düzenle</a></td>
        <td></td>
    </tr>
}
</table>

<br />
<a href="#" class="btn btn-primary">Kategori Ekle</a>
<br /><br />
@Html.PagedListPager((IPagedList)Model,page => Url.Action("Index",new {page}))