<!--
	Bu bir parçali viewdir.BlogRead all sayfasının yorum ekleme kısmıdır
-->

<div class="comment-top">
	<h4>Yorum yap</h4>
	<div class="comment-bottom">
		<form action="/Comment/PartialAddComment/" method="post">
			@*Tüm inputlarda name alanını comment tablosuna göre yazdık form tagının post methodu ekleme işlemini yapar
			  ekleme işlemi CommentControllerdeki PartialAddComment fonksiyonundaki kodlara göre yapılır.
			*@
			<input class="form-control" type="text" name="CommentUserName" placeholder="Adınız Soyadınız" required="">
			<input class="form-control" type="text" name="CommentTitle" placeholder="Konu Başlığı" required="">
			<textarea class="form-control" name="CommentContent" placeholder="Yaz..." required=""></textarea>
			
			<button type="submit" class="btn btn-primary submit">GÖNDER</button>
		</form>
	</div>
</div>
