<!--Bu kısımda userlayout viewinin 2. parçasını oluşturucaz
    ve user layout viewinde 
    (at )await Html.PartialAsync("Partial2") kodu ile bu viewdeki
    kodları erişecez

    -Bu viewde sayfamızın
     en üst kısımda bulunacak yerleri olacak 
     WEBSİTE ADI    GİRİŞ YAP   KAYIT OL          Soysal Medya İkonları
-->



<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
	<span>Tekrar Hoş Geldiniz .......</span>
	<span class="mx-lg-4 mx-md-2  mx-1">
		<a href="/Login/Index/">
			<i class="fas fa-lock"></i> Giriş Yap
		</a>
	</span>
	<span>
		<a href="/Register/Index/">
			<i class="far fa-user"></i> Üye Ol
		</a>
		
	</span>
</div>
