@using EntityLayer.Concrete

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">


<body>
   
        <!-- partial:partials/_navbar.html -->
      
        <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
           
            <!-- partial -->
            
                
                   
                    <div class="page-header">
                        <h3 class="page-title">
                            <span>
                                <i class="mdi mdi-home" style=" color:white !important; background-color:green !important; padding:7px;" ></i>
                            </span> Ana Sayfa
                        </h3>

                      
                    </div>

                    @await Component.InvokeAsync("WriterAboutOnDashboard")

                    <div class="row">


                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Yazdığınız Blog Sayısı
                                    </h4>
                                    <h2 class="mb-5">@ViewBag.v2</h2>
                                    <br />
                    <button type="button" class="btn btn-outline-light" onclick="window.location.href='/Blog/BlogAdd'">Blog Yaz</button>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Yazılan Blog Sayısı
                                    </h4>
                                     <h2 class="mb-5">@ViewBag.v1</h2>

                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        Bu Hafta Yazılan Blog Sayısı 
                                    </h4>
                                     <h2 class="mb-5">@ViewBag.v3</h2>
                               
                                </div>
                            </div>
                        </div>
                    </div>
              
                    @await Component.InvokeAsync("BlogListDashboard")

                   


                @*     @await Component.InvokeAsync("CategoryListDashboard") *@
                    </body>
                    </html>

